<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Pedido</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-list>
  <ng-container *ngFor="let item of pedidoService.itens">
    <mat-list-item>
      {{item.produto.descricao}} <span class="flex1"></span> {{item.quantidade}} x R$ {{item.produto.preco | number: "0.2-2"}}
    </mat-list-item>
  </ng-container>
  <mat-list-item>
    Total <span class="flex1"></span> R$ {{pedidoService.getPrecoTotal() | number: "0.2-2"}}
  </mat-list-item>
</mat-list>

<mat-toolbar color="grey">
  <button routerLink="/cardapio" class="btnpedido" mat-raised-button>Adicionar mais itens</button>
  <button class="btnpedido" mat-raised-button (click)="pedidoService.limpa()">Limpar</button>
  <button class="btnpedido" mat-raised-button color="accent">Concluir</button>
</mat-toolbar>
